<div
  class="modal-backdrop"
  (click)="closeModal()"
  [@backdropAnimation]="modalState"
></div>
<div class="modal" [@modalAnimation]="modalState" [ngStyle]="modalStyle">
  <div class="modal-header">
    <h2>{{ driver?.name }}</h2>
  </div>
  <button (click)="closeModal()"><i class="bi bi-x-lg"></i></button>
  <div class="modal-content">
    <p><strong>Age:</strong> {{ driver?.age || "N/A" }}</p>
    <p><strong>Phone:</strong> {{ driver?.phone || "N/A" }}</p>
    <p><strong>Side job:</strong> {{ driver?.occupation || "N/A" }}</p>
    <p>
      <strong> Hobbies:</strong>
      {{ driver?.hobbies ? driver.hobbies.join(", ") : "N/A" }}
    </p>
  </div>
  <div class="btn" (click)="openPopup()"><p>Hire Now</p></div>
  <div class="logo">
    <h4>R</h4>
  </div>
</div>
