<div
  class="modal-backdrop"
  (click)="close()"
  [@backdropAnimation]="modalState"
></div>
<div class="full-details" [@modalAnimation]="modalState">
  <h2>{{ data.make }} {{ data.model }}</h2>
  <p>Year: {{ data.year }}</p>
  <p>Mileage: {{ data.mileage }} miles</p>
  <p>Price: {{ data.price / 200 | number : "1.2-2" }}$ Per Day</p>
  <p>Fuel Type: {{ data.fuelType }}</p>
  <p>Transmission: {{ data.transmission }}</p>
  <p>Engine: {{ data.engine }}</p>
  <p>Horsepower: {{ data.horsepower }} HP</p>
  <p>Features: {{ data.features.join(", ") }}</p>
  <button class="close-button" (click)="close()">
    <i class="bi bi-x-lg"></i>
  </button>
</div>
