@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import "../node_modules/fullpage.js/dist/fullpage.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: black;
  color: black;
}
main {
  height: 87vh;
}
