<div id="fullpage">
  <div class="section" id="main-s">
    <app-header></app-header>
    <app-background-video></app-background-video>
    <div class="hero-text">
      Luxury rentals, delivered with impeccable service.
    </div>
    <app-lottie-animation *ngIf="isMainRoute"></app-lottie-animation>
    <app-lottie-animation animationType="container"></app-lottie-animation>
    <app-lottie-animation animationType="mbscroll"></app-lottie-animation>
    <div class="scroll-down">SCROLL DOWN</div>
  </div>
  <app-menu></app-menu>
  <app-footer></app-footer>
</div>
